.title {
  width: 1440px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.title h1 {
  font-size: 28px;
  font-family: "Matemasie", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(16, 24, 36);
}
.title h1 span {
  color: rgb(231, 183, 58);
}
.title img {
  width: 60px;
  height: 30px;
}

.boxes {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.boxes .box {
  width: 40%;
  height: 200px;
  display: flex;
  align-items: center;
  border: 2px solid rgb(230, 235, 243);
  border-radius: 18px;
  margin: 10px 0;
}
.boxes .box .box-text {
  width: 70%;
  padding: 0 10px;
}
.boxes .box .box-text .box-title {
  width: 70%;
  padding: 10px 0;
}
.boxes .box .box-text .box-title p {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: rgb(55, 60, 68);
}
.boxes .box .box-text .box-p {
  width: auto;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", system-ui;
}
.boxes .box .box-img {
  width: 30%;
}

hr {
  width: 100%;
  border: 1px dashed grey;
}

@media screen and (max-width: 447px) {
  .title {
    width: 90%;
    height: 80px;
    display: flex;
    align-items: end;
    gap: 0px;
  }
  .title h1 {
    font-size: 24px;
    text-align: center;
  }
  .boxes {
    max-width: 447px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .boxes .box {
    width: 445px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid rgb(230, 235, 243);
    border-radius: 18px;
    margin: 10px 20px;
  }
  .boxes .box .box-text {
    width: 100%;
  }
  .boxes .box .box-text .box-title {
    width: 100%;
    padding: 10px 0;
  }
  .boxes .box .box-text .box-title p {
    font-size: 24px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: rgb(55, 60, 68);
  }
  .boxes .box .box-text .box-p {
    width: auto;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", system-ui;
  }
  .boxes .box .box-img {
    width: 100%;
  }
}