.scrol{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    
    
    .sectionn {
      width: 100%;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      position: fixed;
      z-index: 5;
     
   
    
    .dot {
      width: 25px;
      height: 25px;
      background-color: white;
      border-radius: 50%;
      margin: 20px 0;
      border: 1px solid grey;
      transition: background-color 0.3s ease;
     
    }
    
    .dot.active {
      background-color: blue;
    }
    
    
    
   
  }

  .content {
    margin-left: 50px;
    padding-top: 20px;
    width: 100%;
    .section {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      border-bottom: 1px solid #ccc;
    }
  }
  
   

  }
  

    
  
  @media screen  and (max-width: 447px) {

  .scrol{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  
    .sectionn {
      display: none;
   
   
    
    .dot {
      display: none;
      
     
    }
    
   

    
  
    
   
  }

  .content {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding-top: 0;
   
    .section {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      
        
    } 
  }

  }
  

  
}

@media screen and (min-width:447px) and (max-width:768px) {
  .scrol{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
   
    
    
    .sectionn {
      display:none;
      
   
  }

  .content {
    margin-left: 0;
    padding-top: 0;
    width: 100%;
    .section {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      
    
    }
  }
  
   

  }
  
}


@media screen and (min-width:768px) and (max-width:990px) {

  .scrol{
    max-width: 100%;
    border: 2px solid green;
    
    
    .sectionn {
     display: none;
  }

  .content {
    margin-left: 0;
    padding-top: 0;
    width: 100%;
    .section {
      width: 100%;
      border-bottom: 1px solid #ccc;
    }
  }
  
   

  }
  
}

@media screen and (min-width:990px) and (max-width:1200px) {

  .scrol{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    border: 2px solid green;
    
    
    .sectionn {
      width: 100%;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      position: fixed;
      z-index: 5;
     
   
    
    .dot {
      width: 25px;
      height: 25px;
      background-color: white;
      border-radius: 50%;
      margin: 20px 0;
      border: 1px solid grey;
      transition: background-color 0.3s ease;
     
    }
    
    .dot.active {
      background-color: blue;
    }
    
    
    
   
  }

  .content {
    margin-left:0;
    padding-top:0;
    width: 100%;
    .section {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      border-bottom: 1px solid #ccc;
    }
  }
  
   

  }

  
}