

@font-face {
    font-family: 'RAYDIS';
    src: url('../fonts/raydis/raydis.ttf');
  }

  @font-face {
    font-family: ' Cygre Medium';
    src: url('../fonts/cygre/Cygre-Medium.ttf');
    font-weight: normal;
  }
  @font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/cygre/Cygre-SemiBold.ttf');
  }

  .m-continer{
    width: 100%;
    margin: 0 auto;
    .main{
        width: 100%;
        margin: 53px 0 ;              
        background-image: url(mainImg3.png);
        background-repeat: no-repeat;
        // background-position:  -30px;
        background-position: bottom ;
   
        background-size: 100%;
   
       
     

        .main-left{
            width: 0;
            display: none;
            
           
        }
        .main-right{
            width: 810px;
            height: auto;
            margin: 0 auto;
      
      
            .main-r-top{
                width: 782px;
            
                
                

                h1{
                    font-size: 60px;
                    font-family: 'RAYDIS';
                    text-transform: uppercase;
                    font-weight: 800;
                    color: rgba(16, 24, 36, 1);
                    span{
                        color: rgba(231, 183, 58, 1);
                    }
                }
                h6{
                    width: 100%;
                    font-size: 20px;
                    text-align: center ;
                    font-family: 'Cygre Medium';
                    font-weight: 400;
                    margin: 30px 0;
                    color: rgba(100, 111, 128, 1);
                }
                .button-b{
                    width: 100%;
                 
                    display: flex;
                    justify-content: center;


                    button{
                        padding: 12px 18px ;
                        background-color: rgba(25, 105, 225, 1);
                        border-radius: 12px;
                        border: none; 
                        line-height: 26.4px;
                       font-size: 16px;
                       font-family: 'Cygre SemiBold';
                       font-weight: 600;
                       color: white;
                       cursor: pointer;
                        // &:hover{

                        //     background-color: white;
                        //     border: 2px solid rgba(25, 105, 225, 1);
                        //     color:rgba(25, 105, 225, 1);
                        //     transform: none;
                        // }
                       
                        
                        // p{
                        //   width: auto;
                          
                        //   &:hover{
                        //     color: rgba(25, 105, 225, 1);
                        //   }

                          
                        } 
                      }

                }
               
            }
            .main-r-bottom{
                width: 808px;
                height: 456px;
                margin-top: 73px;
               
                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
  
     
        


 @media screen and (max-width:447px) {

.m-continer{
    width: 100%;
     margin: 0 auto;
                  
                 
                
 .main{
                  width: 100%;
                  margin: 0 ;              
                  background-image: url(mainImg3.png);
                  background-repeat: no-repeat;
                  background-position: bottom;
                             
                        background-size: 100%;
                   
                       
                     
                
                        .main-left{
                            width: 0;
                            display: none;
                            
                           
                        }
                        .main-right{
                            width: 90%;
                            height: auto;
                            
                           
                      
                      
                            .main-r-top{
                                width: 100%;
                                margin: 40px 0 56px 0;
                           
                             
                                
                                
                
                                h1{
                                    font-size: 40px;
                                    text-align: center;
                                }
                                h6{
                                    width: 100%;
                                    font-size: 16px;
                                   line-height: 22.4px;
                                    padding: 0 10px;
                                }
                                .button-b{
                                    width: 100%;
                           
                
                                    button{
                                        width: 100%;
                                        height: 42px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                       
                                        
                                        p{
                                          width: auto;
                
                                          
                                        } 
                                      }
                
                                }
                               
                            }
                            .main-r-bottom{
                                width: 100%;
                                height: auto;
                                margin-top: 0;
                               
                                
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
 }
 hr{
                        max-width: 100%;
                        height: 0;
                        border-top: 1px dashed grey;
                        margin: 10px 0;
 }
 }
                     
            

                
 }

 @media screen and (min-width:448px) and (max-width:768px) {

.m-continer{
                    width: 100%;
                    margin: 0 auto;
                  
                 
                
                    .main{
                        width: 100%;
                        margin: 30px auto ;              
                        background-image: url(mainImg3.png);
                        background-repeat: no-repeat;
                        // background-position:  -30px;
                        background-position:bottom ;
                   
                        background-size: 100%;
                   
                       
                     
                

                        .main-right{
                            width: 90%;
                            height: auto;
                            margin: 0 auto;
                      
                      
                            .main-r-top{
                                width: 100%;
                            
                                
                                
                
                                h1{
                                    width: 100%;
                                    font-size: 40px;
                                    margin: 0 auto;
                                    text-align: center;
                                   
                                }
                                h6{
                                    width: 100%;
                                    font-size: 18px;
                                    text-align: center ;
                                    margin: 30px auto;
                               
                                }
                                .button-b{
                                    width: 100%;
                            
                
                
                                    button{
                                        width: 70%;
                                        line-height: 24px;                        
                                        
                                        p{

                                          font-size: 18px;
              
                                        } 
                                      }
                
                                }
                               
                            }
                            .main-r-bottom{
                                width: 90%;
                                height: auto;
                                margin: 53px auto 0 auto;
                                
                               
                                
                                img{
                                    width: 100%;
                                    height: 100%;
                                    
                                }
                            }
                        }
                    }
                    hr{
                        max-width: 100%;
                        height: 0;
                        border-top: 1px dashed grey;
                        margin: 10px 0;
                    }
  }
                
  }

@media screen and (min-width:769px) and (max-width:990px) {

                .m-continer{
                    width: 100%;
                    .main{
                        width: 100%;
                        margin: 50px auto ;              
                        background-image: url(mainImg3.png);
                        background-repeat: no-repeat;
                        // background-position:  -30px;
                        background-position: bottom ;
                        background-size: 100%;
                   
                        .main-right{
                            width: 90%;
                            height: auto;
                            margin: 0 auto;
                      
                      
                            .main-r-top{
                                width: 100%;
                               
                
                                h1{

                                    font-size: 40px;
                                    text-align: center;
                                } 
                                    
                                h6{
                                    width: 100%;
                                   line-height: 30px;
                                    margin: 20px auto;
                                    font-size: 18px;
                                    
                                }
                                .button-b{
                                    width: 100%;
                
                                    button{
                                        width: 391px;
                                        line-height: 26px;
                                        p{
                                          font-size: 18px;
                                          
                                        } 
                                      }
                
                                }
                               
                            }
                            .main-r-bottom{
                                width: 100%;
                                height: auto;
                                margin-top: 0;
                                margin: 73px auto 0 auto ;
                            
                                display: flex;
                                justify-content: center;
                               
                                
                                img{
                                    width: 90%;
                                    height: auto;
                                  
                                
                                   
                                    
                                }
                            }
                        }
                    }
                    hr{
                        max-width: 100%;
                        height: 0;
                        border-top: 1px dashed grey;
                        margin: 10px 0;
                    }
                  }


                
 }

 @media screen and (min-width:991px) and (max-width:1200px) {
   
    .m-continer{
        width: 100%;
        .main{
            width: 100%;
            margin: 53px auto ;              
            background-image: url(mainImg3.png);
            background-repeat: no-repeat;
            // background-position:  -30px;
            background-position: bottom ;
       
            background-size: 100%;
       
           
         
    
            .main-left{
                width: 0;
                display: none;
                
               
            }
            .main-right{
                width: 810px;
                height: auto;
                margin: 0 auto;
          
          
                .main-r-top{
                    width: 782px;
                
                    
                    
    
                    h1{
                        font-size: 50px;
                        font-family: 'RAYDIS';
                        text-transform: uppercase;
                        font-weight: 800;
                        color: rgba(16, 24, 36, 1);
                        text-align: center;
                        span{
                            color: rgba(231, 183, 58, 1);
                        }
                    }
                    h6{
                        width: 100%;
                        font-size: 18px;
                        text-align: center ;
                        font-family: 'Cygre Medium';
                        font-weight: 400;
                        margin: 30px 0;
                        color: rgba(100, 111, 128, 1);
                    }
                    .button-b{
                        width: 100%;
                     
                        display: flex;
                        justify-content: center;
    
    
                        button{
                            padding: 12px 18px ;
                            background-color: rgba(25, 105, 225, 1);
                            border-radius: 12px;
                            border: none; 
                            line-height: 26.4px;
                           
                            
                            p{
                              width: auto;
                              color: white;
                              font-size: 16px;
                              font-family: 'Cygre SemiBold';
                              font-weight: 600;
    
                              
                            } 
                          }
    
                    }
                   
                }
                .main-r-bottom{
                    width: 808px;
                    height: 456px;
                    margin-top: 73px;
                   
                    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        hr{
            max-width: 100%;
            height: 0;
            border-top: 1px dashed grey;
            margin: 10px 0;
        }
      }
         
    
 }

 @media screen and (min-width:1201px) and (max-width:1400px) {

    
  .m-continer{
    width: 100%;
    margin: 0 auto;
  
 

    .main{
        width: 100%;
        margin: 53px auto ;              
        background-image: url(mainImg3.png);
        background-repeat: no-repeat;
        // background-position:  -30px;
        background-position: bottom ;
   
        background-size: 100%;
   
       
     

        .main-left{
            width: 0;
            display: none;
            
           
        }
        .main-right{
            width: 810px;
            height: auto;
            margin: 0 auto;
      
      
            .main-r-top{
                width: 782px;
            
                
                

                h1{
                    font-size: 60px;
                    font-family: 'RAYDIS';
                    text-transform: uppercase;
                    font-weight: 800;
                    color: rgba(16, 24, 36, 1);
                    span{
                        color: rgba(231, 183, 58, 1);
                    }
                }
                h6{
                    width: 100%;
                    font-size: 20px;
                    text-align: center ;
                    font-family: 'Cygre Medium';
                    font-weight: 400;
                    margin: 30px 0;
                    color: rgba(100, 111, 128, 1);
                }
                .button-b{
                    width: 100%;
                 
                    display: flex;
                    justify-content: center;


                    button{
                        padding: 12px 18px ;
                        background-color: rgba(25, 105, 225, 1);
                        border-radius: 12px;
                        border: none; 
                        line-height: 26.4px;
                       
                        
                        p{
                          width: auto;
                          color: white;
                          font-size: 16px;
                          font-family: 'Cygre SemiBold';
                          font-weight: 600;

                          
                        } 
                      }

                }
               
            }
            .main-r-bottom{
                width: 808px;
                height: 456px;
                margin-top: 73px;
               
                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    hr{
        max-width: 100%;
        height: 0;
        border-top: 1px dashed grey;
        margin: 10px 0;
    }
  }
    
 }