
@font-face {
    font-family: 'RAYDIS';
    src: url('../fonts/raydis/raydis.ttf');
  }

  @font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/cygre/Cygre-SemiBold.ttf');
  }
  @font-face {
    font-family: 'Cygre Book';
    src: url('../fonts/cygre/Cygre-Book.ttf');
  }

  .faq-container{
    width: 100%;

    .Faq{
        width: 1130px;
        margin: 30px auto;
    
    
        .faq-title{
            width: 100%;
            height: auto;
            
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
           
            h1{
                font-size: 28px;
                font-family: "RAYDIS", sans-serif;
                font-weight: 800;
                text-transform: uppercase;
                color: rgba(16, 24, 36, 1);
               
                span{
                    color: rgba(231, 183, 58, 1);
                }
            }
            img{
                width: 37px;
                height: 21px;
            }
        }
        p{
            width: auto;
            height: auto;
            font-size: 18px;
            font-weight: 400;
            font-family: "Poppins", system-ui;
            color: grey;
            margin: 10px 0 30px 0;
        }
    
        .accordion{
            width: 100%;
            #box{
              width: 1100px;
                margin-top: 10px ;
                border-radius: 12px;
                // border: 1px solid grey;
            }
    
            #h1-title{
                width: auto;
                font-size: 18px;
                font-weight: 600;
                font-family: "Cygre SemiBold", system-ui;
                color: rgba(16, 24, 36, 1);
                line-height: 23.4px;
                // margin: 13px 0 16px 0;
            }
            #p-title{
                font-size: 16px;
                font-weight: 350;
                font-family: "Cygre Book", system-ui;
                color: rgba(55, 60, 68, 1);
                line-height: 20.8px;
            }
    
    
        }
    
    }

  }




@media screen  and (max-width:447px) {

    .faq-container{
        width: 100%;

        .Faq{
            width: 100%;
            margin: 30px auto;
       
        
        
            .faq-title{
                width: 100%;
                height: auto;
                padding: 0 10px ;
                gap: 20px;
               
                h1{
                    font-size: 24px;
    
                }
                img{
                    width: 37x;
                    height: 21px;
                }
            }
            p{
                width: 95%;
                height: auto;
                font-size: 14px;
                text-align: start;
                margin: 10px auto 30px auto;
              
            }
        
            .accordion{
                width: 100%;
                #box{
                  width: auto;
                    margin: 10px  ;
                    border-radius: 12px;
                    
                    // border: 1px solid grey;
                }
        
                #h1-title{
                    width: auto;
                    font-size: 16px;
                    
                }
                #p-title{
                    font-size: 14px;
                    width: auto;
                    height: auto;
                    
                   
                }
        
        
            }
        
        }

    }

    

    
}

@media screen and (min-width:448px) and (max-width:768px) {
    .faq-container{
        width: 100%;

        .Faq{
            width: 100%;
            margin: 30px  auto;
        
        
            .faq-title{
                width: 100%;
                justify-content: center;
                gap: 10px;
            }
            p{
                width: 90%;
                
                margin: 10px auto 30px auto;
            }
        
            .accordion{
                width: 90%;
               margin: 0 auto;
                #box{
                  width: 100%;
                    margin-top: 10px ;
                    border-radius: 12px;
                    // border: 1px solid grey;
                }
        
                #h1-title{
                    width: auto;
                    font-size: 18px;
                    font-weight: 600;
                    font-family: "Cygre SemiBold", system-ui;
                    color: rgba(16, 24, 36, 1);
                    line-height: 23.4px;
                    // margin: 13px 0 16px 0;
                }
                #p-title{
                    font-size: 16px;
                    font-weight: 350;
                    font-family: "Cygre Book", system-ui;
                    color: rgba(55, 60, 68, 1);
                    line-height: 20.8px;
                }
        
        
            }
        
        }

    }
   
    
}

@media screen and (min-width:769px) and (max-width:990px) {
    .faq-container{
        width: 100%;

        .Faq{
            width: 90%;
            margin: 30px  auto;
           

            .faq-title{
                width: 100%;
                h1{
                    font-size: 25px;
                }
            }

            p{
                font-size: 16px;
            }
        
            .accordion{
                width: 100%;
                #box{
                  width: 100%;
                    
                }

                #h1-title{
                    font-size: 18px;
                }

                #p-title{
                    font-size: 14px;
                }
        
        
            }
        
        }
    
      }
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
    
    .faq-container{
        width: 100%;
    
        .Faq{
            width: 85%;
            margin: 30px auto;
          
        
        
            .faq-title{
                width: 100%;
                height: auto;
                
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 20px;
               
                h1{
                    font-size: 25px;
                   
                   
                   
                }
               
            }
            p{
                width: auto;
                height: auto;
                font-size: 14px;
                font-weight: 400;
                font-family: "Poppins", system-ui;
                color: grey;
                margin: 10px 0 30px 0;
            }
        
            .accordion{
                width: 100%;
                #box{
                  width: 100%;
                    margin-top: 10px ;
                    border-radius: 12px;
                    
                    // border: 1px solid grey;
                }
        
                #h1-title{
                    width: auto;
                    font-size: 16px;
                    
                }
                #p-title{
                    font-size: 14px;
                    
                }
        
        
            }
        
        }
    
      }
}

@media screen  and (min-width:1201px ) and (max-width:1400px) {

    .faq-container{
        width: 100%;
    
        .Faq{
            width: 85%;
            margin: 30px auto;
            .faq-title{
                width: 100%;
                height: auto;
                
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 20px;
               
                h1{
                    font-size: 28px;
                    font-family: "RAYDIS", sans-serif;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: rgba(16, 24, 36, 1);
                   
                    span{
                        color: rgba(231, 183, 58, 1);
                    }
                }
                img{
                    width: 37px;
                    height: 21px;
                }
            }
            p{
                width: auto;
                height: auto;
                font-size: 18px;
                font-weight: 400;
                font-family: "Poppins", system-ui;
                color: grey;
                margin: 10px 0 30px 0;
            }
        
            .accordion{
                width: 100%;
                #box{
                  width: 100%;
                    margin-top: 10px ;
                    border-radius: 12px;
                    // border: 1px solid grey;
                }
        
                #h1-title{
                    width: auto;
                    font-size: 18px;
                    font-weight: 600;
                    font-family: "Cygre SemiBold", system-ui;
                    color: rgba(16, 24, 36, 1);
                    line-height: 23.4px;
                    // margin: 13px 0 16px 0;
                }
                #p-title{
                    font-size: 16px;
                    font-weight: 350;
                    font-family: "Cygre Book", system-ui;
                    color: rgba(55, 60, 68, 1);
                    line-height: 20.8px;
                }
        
        
            }
        
        }
    
      }
      
    
}